<h1>Stupid Coaching</h1>
<!--
<h3>a.k.a. Questions#answer</h3>
<p>Find me in app/views/questions/answer.html.erb</p>
 -->


<!-- Your Question -->
<h2>
<%= @question %>
</h2>
<p>-- Your Question</p>


<!-- Coach answers  -->

<h2>
<%= @answer %>
</h2>
<p>-- Your Coach</p>

<%= link_to "Ask some other stupid question", ask_path %>
